/* Initial body */
body {
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}

/* Initial menu */
.menu {
  background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

/* Basic styling */

.jumbotron {
  background-color: black;
/*  background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/bg.png'); 
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;*/
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu i {
  margin-right: 5px;
}

.numbers {
  margin-right: 0px;
  color: #3f52f3;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  position: fixed;
}

#n1 {
  padding-left: 0px;
  position: absolute;
}

#n2 {
  padding-left: 0px;
  position: absolute;
}

#n3 {
  padding-left: 0px;
  position: absolute;
}

#n4 {
  padding-left: 0px;
  position: absolute;
}

#n5 {
  padding-left: 0px;
  position: absolute;
}

#n6 {
  padding-left: 0px;
  position: absolute;
}
  
#n7 {
  padding-left: 0px;
  position: absolute;
}

#n8 {
  padding-left: 0px;
  position: absolute;
}

#mix {
  position: absolute;
  top: 390;
  left: 100;
}
