html {
	height: 100%; 
	margin: 0px;
}

body {
	background-color: #1c6c82;
	margin: 0px; 
	height: 100%; 
	text-align: center;
}

.numbers {
	margin-bottom: 220px;
}

.numbers img {
	position: absolute;
}

img {
	width: auto; 
	height: auto;
}


.content {
	position: relative; 
	top: 0px; 
	left: 0px; 
	/*height: 500px; 
	width: 800px; */
	text-align: center; 
	margin-left: auto; 
	margin-right: auto; 
}

.menu {
	background-color: #cf4c3a;
	bottom: 0px; 
	height: 46px;
	position: fixed;
	width: 100%;
}

.menu img {
	margin-left: 5px;
	margin-right: 5px;
}

#go_button {
	margin: 20px 0px 0px 0px; 
	background-color: #1c6c82; 
	border-radius: 10px;
}
